<div ng-controller="registerCtrl">
    <form name="registerForm">
        <div class="row">
            <div class="col-lg-3">
                <label>Email</label>
            </div>
            <div class="col-lg-9">
                <input type="email" ng-model="email" placeholder="email@email.com" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label>Password</label>
            </div>
            <div class="col-lg-9">
                <input type="password" ng-model="password" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label>Repeat Password</label>
            </div>
            <div class="col-lg-9">
                <input type="password" ng-model="passwordRepeat" />
            </div>
        </div>
    </form>
</div>