<div class="panel panel-default qpanel qpanel-green">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-8 big-bold">{{title}}</div>
            <div class="col-lg-1">
                <!--<span class="glyphicon glyphicon-plus ldme-hand-pointer"
                      aria-hidden="true"
                      ng-if="!pc.showQuestForm"
                      ng-click="pc.addQuest()"></span>-->
            </div>
            <div class="col-lg-1">
                <span class="glyphicon glyphicon-expand ldme-hand-pointer"
                      aria-hidden="true"
                      ng-click="toggleFinished()"
                      tooltip-placement="top-right"
                      uib-tooltip="Show finished quests"></span>
            </div>
            <div class="col-lg-1">
                <span class="glyphicon glyphicon-cog ldme-hand-pointer" aria-hidden="true"></span>
            </div>
        </div>
    </div>
    <div class="panel-body quest-panel">
        <div class="pre-scrollable">
            <div class="repeat" ng-repeat="item in quests | filter:arrayFilter">
                <div class="quest well well-sm" ng-if="!item.isFinished() || showFinished">
                    <div class="row">
                        <div class="col-lg-10 big-bold">{{item.name}}</div>
                        <div class="col-lg-2">
                            <span class="glyphicon glyphicon-ok ldme-green"
                                  ng-if="item.questState === 'Completed'"></span>
                            <span class="glyphicon glyphicon-remove ldme-red"
                                  ng-if="item.questState === 'Abandoned'"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1">
                            <img class="gold-img"
                                 ng-src="content/one_coin.png"
                                 alt="Gold"
                                 ng-if="item.goldReward !== 0 && item.goldPenalty !== 0" />
                        </div>
                        <div class="col-lg-4">
                            <div ng-if="item.goldReward !== 0 && item.goldPenalty !== 0">
                                <span class="ldme-green number">{{::item.goldReward}}</span>
                                <span class="number">/</span>
                                <span class="ldme-red number">{{::item.goldPenalty}}</span>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <img class="gold-img"
                                 ng-src="content/blue-medal.png"
                                 alt="Honor"
                                 ng-if="item.honorReward !== 0 && item.honorPenalty !== 0" />
                        </div>
                        <div class="col-lg-4">
                            <div ng-if="item.honorReward !== 0 && item.honorPenalty !== 0">
                                <span class="ldme-green number">{{::item.honorReward}}</span>
                                <span class="number">/</span>
                                <span class="ldme-red number">{{::item.honorPenalty}}</span>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <span class="glyphicon glyphicon-expand ldme-hand-pointer" ng-click="showDescription($index)"></span>
                        </div>
                    </div>
                    <div class="bonus" ng-if="item.questType === 'daily'">
                        <div class="row">
                            <div class="col-lg-2 bonus-label">Bonus:</div>
                            <div class="col-lg-10">
                                <uib-progressbar animate="false" value="item.repetitionBonus*100" max="item.repetitionBonusMultiplier*100" type="success">
                                    {{(item.repetitionBonus*100) | number:0 }}% <span tooltip-placement="top-right"
                                                                                      uib-tooltip="Current bonus gold">(+{{(item.goldReward*item.repetitionBonus)|number:2}})</span>
                                </uib-progressbar>
                            </div>
                        </div>
                    </div>
                    <div class="deadline" ng-if="item.questType === 'regular' && item.deadlineDate">
                        <div class="row">
                            <div class="col-lg-2 bonus-label">Deadline:</div>
                            <div class="col-lg-10">
                                <uib-progress animate="true" max="item.totalDays()">
                                    <uib-bar class="progress-bar-striped active"  value="item.elapsedDays()" type="danger">
                                        <span tooltip-placement="top"
                                              uib-tooltip="Days passed">
                                            {{::item.elapsedDays()}}
                                        </span>
                                    </uib-bar>
                                    <uib-bar value="item.totalDays()-item.elapsedDays()" type="calculateDeadlineColor(item)">
                                        <span tooltip-placement="top"
                                              uib-tooltip="Days left to {{item.deadlineDate | date}}">
                                            {{item.totalDays()-item.elapsedDays()}}
                                        </span>
                                    </uib-bar>
                                </uib-progress>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default description" ng-show="showDescriptionLookup[$index]">
                        <div class="panel-body">
                            {{::item.description}}
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="btn btn-success btn-xs"
                                ng-click="completeQuest(item.id)"
                                ng-if="!item.isFinished()">
                            Complete
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>