<div class="panel panel-default qpanel">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-8 big-bold">{{title}}</div>
            <div class="col-lg-1">
                <!--<span class="glyphicon glyphicon-plus ldme-hand-pointer"
                      aria-hidden="true"
                      ng-if="!pc.showQuestForm"
                      ng-click="pc.addQuest()"></span>-->
            </div>
            <div class="col-lg-1">
                <span class="glyphicon glyphicon-expand ldme-hand-pointer"
                      aria-hidden="true"
                      ng-click="toggleFinished()"
                      tooltip-placement="top-right"
                      uib-tooltip="Show finished quests"></span>
            </div>
            <div class="col-lg-1">
                <span class="glyphicon glyphicon-cog ldme-hand-pointer" aria-hidden="true"></span>
            </div>
        </div>
    </div>
    <div class="panel-body quest-panel">
        <div class="pre-scrollable">
            <div class="repeat" ng-repeat="item in quests | filter:arrayFilter">
                <div class="quest well well-sm" ng-if="!item.isFinished() || showFinished" ng-click="showDescription($index)">
                    <div class="big-bold">{{item.name}}</div>
                    <div class="row">
                        <div class="col-lg-2">
                            <img class="gold-img" 
                                 ng-src="content/one_coin.png" 
                                 alt="Gold" 
                                 ng-if="item.goldReward !== 0 && item.goldPenalty !== 0"/>
                        </div>
                        <div class="col-lg-4" ng-if="item.goldReward !== 0 && item.goldPenalty !== 0">
                            <span class="ldme-green number">{{item.goldReward}}</span>
                            <span class="number">/</span>
                            <span class="ldme-red number">{{item.goldPenalty}}</span>
                        </div>
                        <div class="col-lg-2">
                            <img class="gold-img"
                                 ng-src="content/blue-medal.png"
                                 alt="Honor"
                                 ng-if="item.honorReward !== 0 && item.honorPenalty !== 0" />
                        </div>
                        <div class="col-lg-4" ng-if="item.honorReward !== 0 && item.honorPenalty !== 0">
                            <span class="ldme-green number">{{item.honorReward}}</span>
                            <span class="number">/</span>
                            <span class="ldme-red number">{{item.honorPenalty}}</span>
                        </div>
                    </div>
                    <div class="panel panel-default" ng-show="showDescriptionLookup[$index]">
                        <div class="panel-body">
                            {{item.description}}
                        </div>
                    </div>
                    <button class="btn btn-success btn-xs"
                            ng-click="completeQuest(item.id)"
                            ng-if="!item.isFinished()">
                        Complete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>