<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-8"><label>{{title}}</label></div>
            <div class="col-lg-1">
                <!--<span class="glyphicon glyphicon-plus ldme-hand-pointer"
                      aria-hidden="true"
                      ng-if="!pc.showQuestForm"
                      ng-click="pc.addQuest()"></span>-->
            </div>
            <div class="col-lg-1">
                <span class="glyphicon glyphicon-expand ldme-hand-pointer"
                      aria-hidden="true"
                      ng-click="toggleFinished()"
                      tooltip-placement="top-right"
                      uib-tooltip="Show finished quests"></span>
            </div>
            <div class="col-lg-1">
                <span class="glyphicon glyphicon-cog ldme-hand-pointer" aria-hidden="true"></span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="pre-scrollable">
            <div ng-repeat="item in quests | filter:arrayFilter">
                <div ng-if="!item.isFinished() || showFinished">
                    Name: {{item.name}}
                    Description: {{item.description}}
                    Gold Reward: {{item.goldReward}}
                    <button class="btn btn-success btn-xs"
                            ng-click="completeQuest(item.id)"
                            ng-if="!item.isFinished()">
                        Complete
                    </button>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>