html {
  overflow-y: scroll;
}
/*#region Navigation */
.navi {
  color: whitesmoke;
}
.navi .pull-left {
  margin-left: 20px;
}
.navi .pull-right {
  margin-right: 20px;
}
.nav-input {
  color: black;
}
/*#endregion */
/*#region Left Panel */
.left-panel {
  position: absolute;
  padding: 10px;
  width: 150px;
  min-height: 300px;
  border: solid 1px black;
}
/*#endregion */
/*#region Status Bar */
.status-bar {
  height: 25px !important;
  min-height: 25px !important;
  color: antiquewhite;
}
/*#endregion */
.quest-numeric {
  max-width: 60px;
}
.ldme-hand-pointer {
  cursor: pointer;
}
.ldme-std-pad-bot {
  padding-bottom: 10px;
}
.ldme-std-pad {
  padding: 0 0 0 10px;
}
.ldme-inline-p {
  overflow: hidden;
}
.ldme-inline-cl {
  float: left;
}
.ldme-inline-cr {
  overflow: hidden;
}
.ldme-row {
  margin-bottom: 10px;
}
.ldme-red {
  color: crimson;
}
.ldme-green {
  color: seagreen;
}
/*#region Friends */
.ldme-add-player {
  color: forestgreen;
}
/*#endregion */