html {overflow-y: scroll;}

/*#region Navigation */

.navi{
    color: whitesmoke;
}

.navi .pull-left{
    margin-left: 20px;
}

.navi .pull-right{
    margin-right: 20px;
}

.nav-input{
    color: black;
}

/*#endregion */


/*#region Left Panel */

.left-panel{
    position: absolute;
    padding: 10px;
    width: 150px;
    min-height: 300px;
    border: solid 1px black;
}

/*#endregion */

/*#region Status Bar */

.status-bar {
    @sbHeight: 25px;

    height: @sbHeight !important;
    min-height: @sbHeight !important;
    color: antiquewhite;
}

/*#endregion */



.quest-numeric{
    width: 70px
}

.ldme-hand-pointer{
    cursor: pointer;
}

.ldme-std-pad-bot{
    padding-bottom: 10px;
}

/*#region Friends */

.ldme-add-player{
    color: forestgreen;
}

/*#endregion */


