html {
    overflow-y: scroll;
}

/*#region Navigation */

.navi {
    color: whitesmoke;
}

.navi .pull-left {
    margin-left: 20px;
}

.navi .pull-right {
    margin-right: 20px;
}

.nav-input {
    color: black;
}

/*#endregion */


/*#region Left Panel */

.left-panel {
    position: absolute;
    padding: 10px 10px 10px 40px;
    margin-left: -20px;
    width: 280px;
    height: 400px;
    border: solid 3px rgba(53, 108, 181, 0.74);
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -webkit-box-shadow: 4px 2px 20px 0px rgba(53, 108, 181, 0.74);
    -moz-box-shadow:    4px 2px 20px 0px rgba(53, 108, 181, 0.74);
    box-shadow:         4px 2px 20px 0px rgba(53, 108, 181, 0.74);
    border-radius: 18px;
    transition: 0.5s linear all;
    /*transition: 1s linear opacity;*/
}

.lpanel-fade{
    margin-left: -240px;
    /*opacity: 0;*/
}

/*#endregion */

/*#region Status Bar */

.status-bar {
    @sbHeight: 25px;

    height: @sbHeight !important;
    min-height: @sbHeight !important;
    color: antiquewhite;
}

/*#endregion */


/*#region Add Quest */

.add-quest{
}

.add-quest .numeric {
    max-width: 46px;
    height: 20px;
    text-align: right;
    //padding-left: 10px;
}

.add-quest .text {
    height: 20px;
}

.add-quest .ldme-inline-cr {
    overflow: hidden;
}

.add-quest .ldme-inline-p {
    overflow: hidden;
}

.add-quest .ldme-inline-cl {
    float: left;
    margin-right: 10px
}

.add-quest .group{
    border-left: 5px solid #001a00;
    padding-left: 4px;
    margin-bottom: 5px;
}

.add-quest .green{
    border-color: seagreen
}

/*#endregion */

.ldme-hand-pointer {
    cursor: pointer;
}

.ldme-std-pad-bot {
    padding-bottom: 10px;
}

.ldme-red {
    color: crimson;
}

.ldme-green {
    color: seagreen;
}

.ldme-gold {
    color: gold;
}

.ldme-honor {
    color: dodgerblue;
}

.big-bold {
    font-weight: 900;
    font-size: larger;
}

/*#region Friends */

.ldme-add-player {
    color: forestgreen;
}

/*#endregion */

/*#region Quest Panel*/


.qpanel {
    border: none;
}

.qpanel .quest {
}

.qpanel .quest .gold-img {
    height: 20px;
}

.qpanel .quest .number {
    font-weight: 900;
    font-size: larger;
}

.qpanel .quest-panel {
    padding: 5px;
}

.qpanel .repeat {
    padding-right: 5px;
}

.qpanel .buttons {
    padding-top: 5px;
}

.qpanel .description {
    margin-bottom: 0;
    margin-top: 7px;
}

.qpanel .panel-body {
    padding: 4px 10px 4px 10px;
}

.qpanel .bonus {
    max-height: 10px;
}

.qpanel .deadline {
    max-height: 10px;
}

.qpanel .bonus-label {
    font-size: 12px;
}

.qpanel .progress {
    height: 13px;
    margin-bottom: 7px;
    background-color: darkcyan;
}

.qpanel .progress .progress-bar {
    line-height: 15px;
}

.qpanel-golden{
    -webkit-box-shadow: 0px 0px 20px 5px rgba(250, 163, 46, 0.74);
    -moz-box-shadow:    0px 0px 20px 5px rgba(250, 163, 46, 0.74);
    box-shadow:         0px 0px 20px 5px rgba(250, 163, 46, 0.74);
}

.qpanel-golden .panel-heading{
    background-color: rgba(250, 163, 46, 1);
}

.qpanel-green{
    -webkit-box-shadow: 4px 2px 20px 0px rgba(74, 198, 46, 0.74);
    -moz-box-shadow:    4px 2px 20px 0px rgba(74, 198, 46, 0.74);
    box-shadow:         4px 2px 20px 0px rgba(74, 198, 46, 0.74);
}

.qpanel-green .panel-heading{
    background-color: rgba(74, 198, 46, 1);
}

/*#endregion */

/*#region Reward Panel*/

.reward {
}

.reward .buttons {
    padding-top: 5px;
}

/*#endregion */
