<div class="add-quest" ng-controller="addQuestCtrl as aqc">
    <div class="formMsg">
        <span class="label label-warning" ng-if="aqc.formMsg">{{aqc.formMsg}}</span>
    </div>
    
    <form name="questForm" novalidate>
        <form-input class="" form-obj="questForm" field-name="name" errors-url="js/view/addQuest/errors/nameErrors.html">
            <input class="text input-sm" type="text" ng-model="aqc.formModel.name" name="name" placeholder="Quest Name" ng-minlength="3" ng-required="questForm.name.$dirty===true"/>
        </form-input>
        <ul ng-messages="questForm.name.$error" class="val-msgs">
            <li ng-messages-include="js/view/addQuest/errors/nameErrors.html"></li>
        </ul>

        <form-input form-obj="questForm" field-name="description">
            <input class="text input-sm" type="text" ng-model="aqc.formModel.description" name="description" placeholder="Quest Description"/>
        </form-input>

        <div>
            <label>Gold</label>
        </div>
        <div class="ldme-inline-p">
            <div class="ldme-inline-cl">
                <form-input form-obj="questForm" field-name="goldReward">
                    <input class="numeric input-sm" ng-model="aqc.formModel.goldReward" name="goldReward" type="number" max="100"/>
                    <span class="glyphicon glyphicon-triangle-top ldme-hand-pointer ldme-green"
                          aria-hidden="true"
                          tooltip-placement="bottom"
                          uib-tooltip="Gold given after quest is done"></span>
                </form-input>


            </div>
            <div class="ldme-inline-cr">
                <form-input form-obj="questForm" field-name="goldPenalty">
                    <input class="numeric input-sm" ng-model="aqc.formModel.goldPenalty" name="goldPenalty" type="number" max="100"/>
                    <span class="glyphicon glyphicon-triangle-bottom ldme-hand-pointer ldme-red"
                          aria-hidden="true"
                          tooltip-placement="bottom"
                          uib-tooltip="Gold lost after quest has been failed"></span>
                </form-input>
            </div>
        </div>

        <div>
            <label>Honor</label>
        </div>
        <div class="ldme-inline-p ">
            <div class="ldme-inline-cl">
                <form-input form-obj="questForm" field-name="honorReward">
                    <input class="numeric input-sm" ng-model="aqc.formModel.honorReward" name="honorReward" type="number" max="100"/>
                    <span class="glyphicon glyphicon-triangle-top ldme-hand-pointer ldme-green"
                          aria-hidden="true"
                          tooltip-placement="bottom"
                          uib-tooltip="Honor given after quest is done"></span>
                </form-input>
            </div>
            <div class="ldme-inline-cr ">
                <form-input form-obj="questForm" field-name="honorPenalty">
                    <input class="numeric input-sm" ng-model="aqc.formModel.honorPenalty" name="honorPenalty" type="number" max="100"/>
                    <span class="glyphicon glyphicon-triangle-bottom ldme-hand-pointer ldme-red"
                          aria-hidden="true"
                          tooltip-placement="bottom"
                          uib-tooltip="Honor lost after quest has been failed"></span>
                </form-input>
            </div>
        </div>

        <form-input form-obj="questForm" field-name="questType" label="Quest Type">
            <select class="select-sm" ng-model="aqc.formModel.questType" name="questType">
                <option ng-repeat="option in aqc.questTypes" value="{{option.value}}">{{option.name}}</option>
            </select>
        </form-input>

        <form-input form-obj="questForm" field-name="endTime" label="Deadline Date">
            <p class="input-group input-group-sm">
                <input type="text"
                       class="form-control"
                       uib-datepicker-popup ng-model="aqc.formModel.endTime"
                       name="endTime"
                       is-open="aqc.deadlinePickerOpened"
                       datepicker-options="aqc.deadlineOptions"
                       ng-required="false"
                       close-text="Close"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default calendar-btn" ng-click="aqc.openDeadlinePicker()"><i class="glyphicon glyphicon-calendar calendar"></i></button>
                </span>
            </p>
        </form-input>

        <br/>
        <div>
            <button class="btn btn-success btn-xs" ng-click="aqc.createQuest()">Create</button>
            <button class="btn btn-default btn-xs" ng-click="aqc.clearForm()">Clear</button>
        </div>
    </form>

</div>