<div ng-controller="friendsCtrl as fc">
    <div class="col-lg-6">
        <h2>Your friends</h2>
        <div class="well well-sm" ng-repeat="friend in fc.currentFriends">
            <label>Name:</label> {{friend.name}}
        </div>
    </div>
    <div class="col-lg-6">
        <h2>Search for more friends</h2>
        <form name="friendSearchForm">
            <div class="input-group ldme-std-pad-bot">
                <input class="form-control" type="text" placeholder="Name, email" ng-model="fc.searchQuery">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" ng-click="fc.findFriends(fc.searchQuery)">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
            <div class="well well-sm" ng-if="fc.searchInitialized">
                <label>Search Results:</label>
                <div ng-if="fc.searchSuccessfull">
                    <label>Name:</label> {{fc.searchedPlayer.name}}
                    <label>Gold:</label> {{fc.searchedPlayer.gold}}
                    <label>Honor:</label> {{fc.searchedPlayer.honor}}
                    <button class="btn btn-xs"
                            type="button"
                            uib-tooltip="Add friend"
                            tooltip-placement="top-right">
                        <span class="glyphicon glyphicon-plus ldme-add-player"></span>
                    </button>
                </div>
                <div ng-if="!fc.searchSuccessfull">
                    Player not found.
                </div>
            </div>
        </form>
    </div>

</div>