<div ng-controller="friendsCtrl as fc">
    <h1>Search for friends</h1>
    <form name="friendSearchForm">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Name, email" ng-model="fc.searchQuery">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="fc.findFriends(fc.searchQuery)">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>

    </form>
</div>