<div ng-controller="mainCtrl">
    <h2>Welcome to Lead Me!</h2>
    <div class="well">
        This site is meant to help you with organizing and getting motivation for the things you want to improve on, by making them your habits and getting rewards if done.
        Whether it is playing sports, playing music, learning languages, creating art, doing chores, loosing weight or other things you want to
        get done, but constantly procrastinating on them, Lead Me will help you deal with them. It doesn't matter how overwhelming and time consuming those things are,
        by splitting them to small and easy tasks, doing them on regular basis will be effortless. With small steps you can achieve great results.
    </div>
</div>