<div ng-controller="playerCtrl as pc">
    <div ng-if="pc.isLoggedIn()">
        <div class="row ldme-std-pad-bot">
            <!--player data-->
            <div class="col-lg-2">
                <label>Name:</label> {{pc.playerData.name}}
            </div>
            <div class="col-lg-2">
                <label>Gold:</label> {{pc.playerData.gold | number:2}}
            </div>
            <div class="col-lg-2">
                <label>Honor:</label> {{pc.playerData.honor | number:2}}
            </div>
            <div class="col-lg-2">
                <button class="btn btn-default btn-xs"
                        ng-click="pc.addQuest()">
                    Add Quest &nbsp;
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>

        <div class="row">
            <!--quest panel-->
            <div class="col-lg-4">
                <quest-panel title="Daily Quests"
                             quests="pc.playerData.questsOwned"
                             quest-filter="daily">
                </quest-panel>
            </div>

            <div class="col-lg-4">
                <quest-panel title="Quests"
                             quests="pc.playerData.questsOwned"
                             quest-filter="!daily">
                </quest-panel>
            </div>

            <div class="col-lg-4">
                <rewards-panel title="Rewards"
                               rewards="pc.playerData.rewards">
                </rewards-panel>
            </div>
        </div>
    </div>
    <div ng-if="!pc.isLoggedIn()">
        Please first log in to see your profile page...
    </div>
</div>

